.content {
    width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

.title-group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.content-title {
    font-size: 28px;
    font-weight: bold;
}

.content-back::before {
    content: "▶";
    margin-right: 6px;
}

.content-back a {
    text-decoration: none;
    color: inherit;
}

.content-group {
    display: grid;
    grid-template-columns: 250px 1fr;
    max-width: 800px;
    min-width: 800px;
    width: 100%;
    margin: 5px auto;

}

.group-title {
    grid-row: 1/4;
    background-color: #e5d9c7;
    color: #99836e;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-item {
    display: grid;
    grid-column: 2/4;
    background-color: #e3e4dc;
    grid-template-columns: 270px 1fr;
    padding: 8px 12px;
    align-items: center;
}

.item-title {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 8px;
}

.item-title.required::before {
    content: "必須";
    margin-right: 5px;
    padding: 2px 5px;
    background-color: #99836e;
    border-radius: 5px;
    color: #f5f5f5;
    align-self: center;
}

.item-title.any::before {
    content: "任意";
    margin-right: 5px;
    padding: 2px 5px;
    border: 1px solid #99836e;
    border-radius: 5px;
    align-self: center;
}

.item-form input,
.item-form select {
    width: 230px;
    height: 25px;
}

.button-submit {
    text-align: center;
    margin: 30px;
}

.submit {
    width: 150px;
    padding: 10px;
    font-size: 20px;
    background-color: #99836e;
    border: 1px solid #99836e;
    color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 3px 3px #e3e4dc;
    cursor: pointer;
}

.item-error {
    font-size: 14px;
    color: #f00;
}

.button-delete {
    text-align: right;
}


.delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #99836e;
    font-weight: bold;
    text-decoration: underline;
}
