.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.content-sub{
    padding-bottom: 30px;
}

.tab-menu {
    display: flex;
    justify-content: right;
    gap: 30px;
    list-style: none;
}

.list-item1 {
    width: 110px;
    background-color: #99836e;
    color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 3px 3px #e3e4dc;
}
.list-item2 {
    width: 110px;
    border: 1px solid #99836e;
    border-radius: 3px;
    box-shadow: 3px 3px #e3e4dc;
}

.link-tab {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.list-client {
    margin: 0 auto;
}

.list-client thead {
    background-color: #99836e;
    color: #f5f5f5;

}

.list-client tr {
    border-bottom: 1px solid #e3e4dc;
}

.list-client tr:nth-child(even) {
    background-color: #e5d9c7;
}

th,td {
    padding:10px 15px;
}

.hidden {
    filter: brightness(0) saturate(100%) invert(52%) sepia(25%) saturate(363%) hue-rotate(348deg) brightness(96%) contrast(85%);
}

.style-detail {
    border: 1px solid #99836e;
    padding: 2px 10px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 2px 2px #e3e4dc;
}
