.header {
    background-color: #99836e;
}

body {
    background-color: #f5f5f5;
    color:#99836e
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.member-menu {
    display: flex;
    justify-content: space-around;
}

.member-content {
    padding-left: 10px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #f5f5f5;
}
