.content {
    min-width: 1150px;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.content-sub {
    padding-bottom: 10px;
    margin: 0 auto;
    width: 80%;
    min-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.condition-tab {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    gap: 3px 60px;

}

.tab-index {
    width: 70px;
    font-weight: bold;
    font-size: 18px;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.tab-item {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}


.content-title {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.tab-menu {
    display: flex;
    justify-content: right;
    gap: 30px;
    list-style: none;
}

.list-item1 {
    width: 110px;
    background-color: #99836e;
    color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 3px 3px #e3e4dc;
}

.list-item2 {
    width: 110px;
    border: 1px solid #99836e;
    border-radius: 3px;
    box-shadow: 3px 3px #e3e4dc;
}

.alert-success {
    text-align: left;
    padding: 5px 0;
}

.alert-success::before {
    content: "■";
    margin-right: 5px;
}


.link-tab {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.content-list {
    overflow-y: auto;
    max-height: 500px;
}


.list-route {
    margin: 0 auto;
    width: 80%;
    min-width: 1150px;

}

.list-route thead {
    background-color: #99836e;
    color: #f5f5f5;
    top: 0px;
    position: sticky;
}

.list-route a {
    text-decoration: none;
    color: inherit;
}

.list-route tr {
    border-bottom: 1px solid #e3e4dc;
}

.list-route tr:nth-child(even) {
    background-color: #e5d9c7;
}

th,
td {
    padding: 10px 15px;
}

.td-widthfixed100 {
    width: 100px;
}

.td-widthfixed130 {
    width: 130px;
}

.td-widthfixed150 {
    width: 150px;
}

.td-alignleft {
    text-align: left;
}

.hidden {
    filter: brightness(0) saturate(100%) invert(52%) sepia(25%) saturate(363%) hue-rotate(348deg) brightness(96%) contrast(85%);
}

.style-detail {
    border: 1px solid #99836e;
    padding: 2px 10px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 2px 2px #e3e4dc;
}

.button-submit {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.content-search {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-select {
    width: 110px;
    height: 35px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 35px 10px 10px;
    border-radius: 5px;
    border: solid 1px #99836e;

    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'><path d='M0,3 L5,8 L10,3 Z' fill='%2399836e'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
        /* 右端から12px、上下の真ん中に配置 */
    background-size: 10px 10px;

}

.search-box{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px #99836e;
    padding: 0 10px;
}

.search-button{
    width: 60px;
    height: 35px;
    background-color: #99836e;
    color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 3px 3px #e3e4dc;
    border: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 30px;

}
