.content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 50px 0;
}

.content-menu {
    text-align: center;
    width: calc(80% / 2);
    font-size: 24px;
    border-radius: 5px;
    padding: 30px 0;

}

.content-main {
    background-color: #99836e;
    color: #f5f5f5;
    box-shadow: 5px 5px #e5d9c7;
    position: relative;
}

.content-sub {
    color: #99836e;
    border: 2px solid #99836e;
    box-shadow: 5px 5px #e3e4dc;
    position: relative;
}

.content-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.content-main .content-link:hover {
    opacity: 0.1;
    background-color: #e5d9c7;
}

.content-sub .content-link:hover {
    opacity: 0.3;
    background-color: #e3e4dc;
}
